.row {
  display: flex
  background: #fff
  .bigImg {
    display: flex
    align-items: center
    width: 13rem
    height: 15rem
    margin-right: .5rem
    img {
      width: 100%
      height: 100%
    }
  }
  .content {
    padding: 1rem
  }
}
.gap {
  height: 1rem
  background: transparent
}
