:global
  *
    padding: 0
    margin: 0
  html, body
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑"
    width: 100%
    -ms-overflow-style: none
    overflow-style: none

  a
    color: #3d3d3d
